/**
 * Project specific styling.
 */

.sales-change {
  background-color: map-get($theme, "blue-dark");
  color: $color-white;
}

.retailer-change {
  background-color: map-get($theme, "orange-dark");
  color: $color-white;
}

mark {
  white-space: nowrap;
}

.embedded {
  .container,
  .container-xs,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-fluid,
  .container-copy {
    padding-right: 0;
    padding-left: 0;
  }
}

.buttons {
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 2.5em;
  padding-top: 0.5em;

  label {
    margin-right: 1em;
  }

  .button-link {
    color: $color-black;
    padding: 0.1em 0.25em;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .sales-change {
    background-color: transparent;
    color: map-get($theme, "blue-dark");
  }

  .retailer-change {
    background-color: transparent;
    color: map-get($theme, "orange-dark");
  }
}

.bar-chart {
  .embedded & {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .city {
    width: 100%;
    margin-bottom: 0.1em;
    padding: 0.15em;

    &:hover {
      background-color: map-get($grays, "lightest");
    }
  }

  .negative-value {
    width: 40%;
    float: left;
    min-height: 0.5em;

    .bar {
      float: right;
      clear: right;
      position: relative;

      span {
        font-size: 0.5em;
        display: block;
        position: absolute;
        top: 0;
        left: -2.75em;
        color: $color-black;
        line-height: 2em;
      }

      &.inside-label span {
        left: 0.5em;
        color: $color-white;
      }
    }
  }

  .positive-value {
    width: 40%;
    float: left;
    min-height: 0.5em;

    .bar {
      position: relative;

      span {
        font-size: 0.5em;
        display: block;
        position: absolute;
        top: 0;
        right: -2.75em;
        color: $color-black;
        line-height: 2em;
      }

      &.inside-label span {
        right: 0.5em;
        color: $color-white;
      }
    }
  }

  .city-name {
    width: 20%;
    float: left;
    min-height: 0.5em;
    font-size: 0.75em;
    text-align: center;
    padding: 0.15em 0.25em;
  }

  .bar-set {
    padding-top: 0.1em;
  }

  .bar {
    min-height: 0.5em;
  }

  .bars-1 .bar {
    height: 1em;
  }

  .bars-2 .bar {
    height: 0.5em;

    &:first-child {
      margin-bottom: 0.1em;
    }

    span {
      line-height: 1em;
    }
  }

  .labels {
    font-size: 0.75em;
    margin-bottom: 0.5em;

    .negative-values,
    .positive-values {
      width: 40%;
      float: left;
    }

    .negative-values {
      text-align: right;
    }

    .city-names {
      width: 20%;
      float: left;
      text-align: center;
    }
  }

  .axis {
    width: 100%;
    position: relative;
    border-bottom: 1px solid $color-black;
    height: 0.5em;
    margin-top: 0.5em;

    .tick {
      position: absolute;
      height: 0.5em;
      border-left: 1px solid $color-black;

      span {
        font-size: 0.65em;
        position: absolute;
        margin-top: -0.65em;
        left: 0.2em;
        display: inline-block;
      }

      &.tick-right {
        border-left: none;
        border-right: 1px solid $color-black;

        span {
          left: auto;
          right: 0.2em;
        }
      }
    }
  }
}
